@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  /* overflow-y: hidden !important;  */
}
html.dark {
  background: #121212;
}
::-webkit-scrollbar {
  width:  1rem; 
}
::-webkit-scrollbar-thumb {
  background: #BFDBFE;
}
::-webkit-scrollbar-track {
  background: transparent;
}
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #195bff;
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
button:disabled {
  cursor: not-allowed;
  background: #cad3db;
}
button:disabled:hover {
  background: #cad3db;
}