/* https://github.com/antfu/prism-theme-vars */
@import 'prism-theme-vars/base.css';

.prose {
  --prism-font-family: 'DM Mono', monospace;
}
 
.prose img {
  width: 100%;
}
html {
font-size: 110%;
}
html:not(.dark) .prose {
  --prism-foreground: #393a34;
  --prism-background: #fbfbfb;
  --prism-comment: #a0ada0;
  --prism-string: #b56959;
  --prism-literal: #2f8a89;
  --prism-number: #296aa3;
  --prism-keyword: #1c6b48;
  --prism-function: #6c7834;
  --prism-boolean: #1c6b48;
  --prism-constant: #a65e2b;
  --prism-deleted: #a14f55;
  --prism-class: #2993a3;
  --prism-builtin: #ab5959;
  --prism-property: #b58451;
  --prism-namespace: #b05a78;
  --prism-punctuation: #8e8f8b;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #698c96;
}

html.dark .prose {
  --prism-foreground: #d4cfbf;
  --prism-background: #151515;
  --prism-comment: #758575;
  --prism-string: #d48372;
  --prism-literal: #429988;
  --prism-keyword: #4d9375;
  --prism-boolean: #1c6b48;
  --prism-number: #6394bf;
  --prism-variable: #c2b36e;
  --prism-function: #a1b567;
  --prism-deleted: #a14f55;
  --prism-class: #54b1bf;
  --prism-builtin: #e0a569;
  --prism-property: #dd8e6e;
  --prism-namespace: #db889a;
  --prism-punctuation: #858585;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #6b8b9e;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444;
}

@media (min-width: 800px) {
  html p{
  text-align: justify;
  }

}
/* For mobile */
@media (max-width: 800px) {
  html p, li, a, strong, span, blockquote, button{
    font-size: large;
  }
  h1{
    margin: 8px 0;
    font-size: xx-large;
    font-weight: 800;
  }
  h2{
    margin: 12px 0;
    font-size: x-large;
    font-weight: 700;
    line-height: 1.15;
  }
  blockquote{
    margin: 16px 0;
    padding-top: 40px !important;
    line-height: 1.25;
  }
  a{
    margin: 8px 0;
  }
  img {
    width: 150px !important;
    height: content-fit;
    margin: 2rem auto !important;
  }
}

h1{
  padding-top: 2rem;
}
h2{
  padding-top: 0.5rem;
}
img {
  height: 255px;
  width: fit-content !important;
  margin: 0 auto;
}
.main-content a{
  text-decoration: none !important;
  color: rgba(29,78,216,var(--un-text-opacity)) !important;
}
.main-content a:active{
  color: white !important;
}

html.dark blockquote {
    background:#0F172A;
}
blockquote{
  font-family:Open Sans;
  font-style:italic;
  padding: 1.2rem;
  /* border-left:8px solid #78C0A8 ; */
  position: relative;
  background:#E2E8F0;
}
blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#1E293B;
  font-size:60px;
  line-height:1.6;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote em{
  display:block;
  opacity: 0.7;
  font-style: normal;
  font-style: italic;
  margin-top: 0.8rem;
}